
_library/.DS_Store
angulat_distance_so_files/.DS_Store
data/constitutions_xml/.DS_Store
data/const_list.json
data/constitutions_xml/Bolivia_2009.xml
data/constitutions_xml/Chile_2018D.xml
data/constitutions_xml/Chile_2021.xml
data/constitutions_xml/Chile_2022D.xml
data/constitutions_xml/Chile_2023DD.xml
data/constitutions_xml/Ecuador_2021.xml
data/metadata.csv
data/revised_ontology.csv
angulat_distance_so_files/angular_distance_macos_arm/.DS_Store
angulat_distance_so_files/angular_distance_macos_intel/.DS_Store
angulat_distance_so_files/angular_distance_linux/.DS_Store
model/documents_dict.json
model/encoded_segments.json
model/encoded_topics.json
model/segments_dict.json
model/segments_matrix.json
model/topic_segment_matrix.json
model/topics_dict.json
angular_distance_so_files/.DS_Store
angular_distance_so_files/angular_distance_linux/.DS_Store
angular_distance_so_files/angular_distance_macos_arm/.DS_Store
angular_distance_so_files/angular_distance_macos_intel/.DS_Store
.ipynb_checkpoints/constitution_comparison-checkpoint.ipynb
_library/__pycache__/packages.cpython-39.pyc
.DS_Store
model_all/documents_dict.json
model_all/encoded_segments.json
model_all/encoded_topics.json
model_all/segment_encodings.json
model_all/segments_dict.json
model_all/segments_matrix.json
model_all/topic_encodings.json
model_all/topic_segment_matrix.json
model_all/topics_dict.json
use-4/saved_model.pb
use-4/variables/variables.data-00000-of-00001
use-4/variables/variables.index
